header{
   font-family: 'Inter', sans-serif;
   font-style: italic;
   font-size: 22pt;
   color: tomato;
}

.list-group{
    flex-direction: row;; 
    margin-right: 10px
 }
 
 li{
     margin: 10px;
  
  }
 
 .card-body h5{
    color: purple;
    overflow: hidden;
 }
 .imagen{
   width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
   object-fit: contain;

 }
 body{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DCE35B, #45B649);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DCE35B, #45B649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#fondo{
   background-color: white;
   margin-top: 50px;
   padding: 3px;
}
.select{
   position: absolute;
   right: 50px;
   width: 200px;
   border: none;
   padding: 10px;
}
.btnCarrito{
   position: relative;
   cursor: pointer;
}